.carOwnershipHidden {
    display: none;
}

.carOwnershipVisible {
    display: block;
}

.companyCarDivHidden {
    display: none;
}

.rentalCarDivHidden {
    display: none;
}

.ownedByChildDivHidden {
    display: none;
}

.companyCarDivVisible {
    display: block;
}

.rentalCarDivVisible {
    display: block;
}

.ownedByChildDivVisible {
    display: block;
}

/*@media screen and (max-width: 980px) {
    label.win-type-small {
        display: inline-block;
        width: 20%;
    }
}*/
label.win-type-small {
        display: inline-block;
        width: 20%;
    }

@media screen and (max-width: 360px) {
    label.win-type-small {
        display: inline-block;
        width: 100%;
    }
}

.no-margin{
    margin:0px !important;
}